<div class="centralizando">
<h1>Products - <%= @products.length %> products  </h1>
<%= link_to "new product", new_product_path %>
</div>
<br>

<div> 
	<% @products.each do |product| %>
	<div class="products">
	<h3>Name</h3> 
	<p><%= product[:name] %></p>
	<h3>Description</h3>
	<p> <%= product[:description]%></p>
	<h3>Price</h3>
	<p> $ <%= product.formatted_price %></p>

	<%= link_to "show product", product_path(product.id) %>
</div>
<br>
	<% end %>
</div>
