<h1>Products - <%= @products.length %> products  </h1>

<div> 
	<% @products.each do |product| %>
	<h3>Name</h3> 
	<p><%= product[:name] %></p>
	<h3>Description</h3>
	<p> <%= product[:description]%></p>
	<h3>Price</h3>
	<p> $ <%= product[:price_in_cents]/100.to_f %></p>

	<%= link_to "show product", "products/#{product.id}" %>
	<% end %>
</div>
